<p-panel header="Inventário Sem WMS" class="title">
  <form #form="ngForm">
    <div class="ui-g ui-fluid">
      <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
        <span class="ui-float-label">
          <input id="filial" class="apenas_leitura" name="filial" type="number" readonly="true" [(ngModel)]="usuarioLogado.filial" pInputText />
          <label for="float-input">Filial</label>
        </span>
      </div>
      <div class="ui-g-5 ui-md-5 ui-lg-5 efeito">
        <span class="ui-float-label">
          <input id="numinvent" class="apenas_leitura" name="numinvent" type="number" readonly="true" [(ngModel)]="numInvent" pInputText />
          <label for="float-input">Nº Inventário</label>
        </span>
      </div>
      <div class="ui-g-3 ui-md-3 ui-lg-3 efeito">
        <span class="ui-float-label">
          <input id="cont" class="apenas_leitura" name="cont" type="number" readonly="true" [(ngModel)]="produtoInventario.cont" pInputText />
          <label for="float-input">Cont.</label>
        </span>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 efeito">
        <p class="descricao">{{ produtoInventario.descricao }}</p>
      </div>
      <div class="ui-g-8 ui-md-8 ui-lg-8 efeito">
        <div class="ui-inputgroup camposBusca">
          <input #produto id="codprod" class="responsive" name="buscar" type="number" pKeyFilter="num" 
                 placeholder="COD.PROD / EAN / DUN" [(ngModel)]="limpar" pInputText />          
          <button pButton id="pesquisar" icon="fa fa-search"></button>
        </div>
      </div>
      <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
        <span class="ui-float-label">
          <input id="codigo" class="apenas_leitura" name="codprod" type="number" readonly="true" [(ngModel)]="produtoInventario.codprod"pInputText />
          <label for="float-input">Cód.Prod</label>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
        <span class="ui-float-label">
          <input id="qtunit" class="apenas_leitura" name="qtunit" type="text" readonly="true" [(ngModel)]="produtoInventario.qtunit" pInputText />
          <label for="float-input">Qt.Unit.</label>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
        <span class="ui-float-label">
          <input id="qtunitcx" class="apenas_leitura" name="qtunitcx" type="text" readonly="true" [(ngModel)]="produtoInventario.qtunitcx" pInputText />
          <label for="float-input">Qt.Unit.Cx</label>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
        <span class="ui-float-label">
          <input id="qtun" name="qtun" class="style_input" type="number" pKeyFilter="pnum" [(ngModel)]="produtoInventario.qtun" pInputText />
          <label for="float-input">Qt.Un</label>
        </span>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
        <span class="ui-float-label">
          <input id="qtcx" name="qtcx" class="style_input" type="number" pKeyFilter="pnum" [(ngModel)]="produtoInventario.qtcx" pInputText />
          <label for="float-input">Qt.Cx</label>
        </span>
      </div>    
      <button pButton id="confirmar" class="button" type="submit" (click)="salvar()" label="CONFIRMAR"></button>
    </div>
  </form>
</p-panel>