<p-panel header="Busca Produto">
  <div class="ui-inputgroup camposBusca">
      <input name="buscar" type="text" placeholder="Cod.Prod / EAN / DUN" pInputText />
    <button pButton type="button" icon="fa fa-search" (click)="buscarProduto()"></button>
  </div>

  <p-table [value]="produtos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let coluna of col">{{coluna.label}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produtos>
        <tr>
            <td>{{produtos.codprod}}</td>
            <td>{{produtos.descricao}}</td>
            <td>{{produtos.fornecedor}}</td>
            <td>{{produtos.embalagem}}</td>
            <td>{{produtos.qtunitcx}}</td>
        </tr>
    </ng-template>
</p-table>
</p-panel>

  
