<p-panel header="Busca Produto">
  <form>
    <div class="ui-inputgroup camposBusca">
        <input #produto [(ngModel)]="prod" name="buscar" type="text" (keyup.enter)="buscarProdutoId(produto.value)" placeholder="Cod.Prod / EAN / DUN" pInputText />
        <button pButton type="button" icon="fa fa-search"></button>
    </div>
  </form>
  <block-ui>
    <p-table [value]="produtos" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50, 100]">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let coluna of col">{{coluna.label}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produtos>
            <tr>
                <td>{{produtos.codprod}}</td>
                <td>{{produtos.descricao}}</td>
            </tr>
        </ng-template>
    </p-table>    
  </block-ui>
</p-panel>


  
