.camposBusca {
    padding-left: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}

#responsive{
    width: 100%;
    font-size: 20px;
}

.style_input {
    size: 30px;
    font-size: 20px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: left;
}

.salvar {
    text-align: right;
}

.efeito{
    padding-top: 10px;
}

.apenas_leitura{
    size: 30px;
    font-size: 20px;
    background-color: rgb(206, 206, 206);
}