

#responsive{
    width: 100%;
    font-size: 20px;
}

.camposBusca {
    padding-left: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
}

#style_input {
    width: 100%;
    size: 30px;
    font-size: 15px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: left;
}

.salvar {
    text-align: right;
}

.efeito{
    padding-top: 15px;
}

.apenas_leitura{
    size: 30px;
    font-size: 20px;
    background-color: rgb(206, 206, 206);
}

.edicao{
    size: 30px;
    font-size: 20px;
}

.descricao{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #000;
    background-color: rgb(206, 206, 206);
}

.filial {
    width: 100%;
}
