<p-panel header="Consultar Produto" class="title">
  <form #dados="ngForm">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-inputgroup camposBusca">
          <input #produto id="responsive" class="style_input" [(ngModel)]="limpar" name="buscar" type="number" pKeyFilter="pnum" (keyup.enter)="buscarProdutoId(produto.value)" placeholder="COD.PROD / EAN / DUN" pInputText />
          <span class="ui-inputgroup-addon"><i class="fa fa-search" style="line-height: 1.25;"></i></span>
        </div>
      </div>

      <block-ui>
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-12 ui-lg-12 efeito">
            <span class="ui-float-label">
              <textarea id="descricao" class="apenas_leitura" rows="2" cols="30" name="descricao" [(ngModel)]="produtos.descricao" readonly="true" pInputTextarea></textarea>
              <label for="float-input">Descrição</label>
            </span>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <p-tabView>
              <!--Embalagem\Dimensão--> 
              <p-tabPanel header="EMB\DIM" leftIcon="fa fa-dropbox">
                <p-tabView>
                  <p-tabPanel header="EMBALAGEM" leftIcon="fa fa-dropbox">
                    <div class="ui-g ui-fluid">
                      <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
                        <span class="ui-float-label">
                          <input id="embalagemmaster" class="apenas_leitura" name="embalagemmaster" type="text" readonly="true" [(ngModel)]="produtos.embalagemmaster" pInputText />
                          <label for="float-input">Emb.Master</label>
                        </span>
                      </div>
                      <div class="ui-g-3 ui-md-3 ui-lg-3 efeito">
                        <span class="ui-float-label">
                          <input id="unidademaster" class="apenas_leitura" name="unidademaster" type="text" readonly="true" [(ngModel)]="produtos.unidademaster" pInputText />
                          <label for="float-input">Un.M</label>
                        </span>
                      </div>
                      <div class="ui-g-3 ui-md-3 ui-lg-3 efeito">
                        <span class="ui-float-label">
                          <input id="qtcx" class="apenas_leitura" name="qtcx" type="text" readonly="true" [(ngModel)]="produtos.qtcx" pInputText />
                          <label for="float-input">Qt.Cx</label>
                        </span>
                      </div>
                      <div class="ui-g-12 ui-md-12 ui-lg-12 efeito">
                        <span class="ui-float-label">
                          <input id="dun" class="apenas_leitura" name="dun" type="text" readonly="true" [(ngModel)]="produtos.dun" pInputText />
                          <label for="float-input">Cód.Barras Master</label>
                        </span>
                      </div>
                      <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
                        <span class="ui-float-label">
                          <input id="embalagem" class="apenas_leitura" name="embalagem" type="text" readonly="true" [(ngModel)]="produtos.embalagem" pInputText />
                          <label for="float-input">Emb.Unit</label>
                        </span>
                      </div>
                      <div class="ui-g-3 ui-md-3 ui-lg-3 efeito">
                        <span class="ui-float-label">
                          <input id="unidade" class="apenas_leitura" name="unidade" type="text" readonly="true" [(ngModel)]="produtos.unidade" pInputText />
                          <label for="float-input">Unid</label>
                        </span>
                      </div>
                      <div class="ui-g-3 ui-md-3 ui-lg-3 efeito">
                        <span class="ui-float-label">
                          <input id="qtunit" class="apenas_leitura" name="qtunit" type="text" readonly="true" [(ngModel)]="produtos.qtunit" pInputText />
                          <label for="float-input">Qt.Unit</label>
                        </span>
                      </div>
                      <div class="ui-g-12 ui-md-12 ui-lg-12 efeito">
                        <span class="ui-float-label">
                          <input id="ean" class="apenas_leitura" name="ean" type="text" readonly="true" [(ngModel)]="produtos.ean" pInputText />
                          <label for="float-input">Cód. Barras Unit.</label>
                        </span>
                      </div>
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="DIMENSÃO" leftIcon="fa fa-dropbox">
                    <div class="ui-g ui-fluid">
                      <p-fieldset legend="MASTER(cm)" class="subtitle">
                        <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                          <span class="ui-float-label">
                            <input id="alt" class="apenas_leitura" name="alt" type="text" readonly="true" [(ngModel)]="produtos.alt" pInputText />
                            <label for="float-input">Alt</label>
                          </span>
                        </div>
                        <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                          <span class="ui-float-label">
                            <input id="larg" class="apenas_leitura" name="larg" type="text" readonly="true" [(ngModel)]="produtos.larg" pInputText />
                            <label for="float-input">Larg</label>
                          </span>
                        </div>
                        <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                          <span class="ui-float-label">
                            <input id="comp" class="apenas_leitura" name="comp" type="text" readonly="true" [(ngModel)]="produtos.comp" pInputText />
                            <label for="float-input">Comp</label>
                          </span>
                        </div>
                        <div class="ui-g-12 ui-md-12 ui-lg-12 efeito">
                          <span class="ui-float-label">
                            <input id="peso" class="apenas_leitura" name="peso" type="text" readonly="true" [(ngModel)]="produtos.peso" pInputText />
                            <label for="float-input">Peso(K/g)</label>
                          </span>
                        </div>
                      </p-fieldset>
                      <p-fieldset legend="NORMA" class="subtitle">
                        <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                          <span class="ui-float-label">
                            <input id="lastro" class="apenas_leitura" name="lastro" type="text" readonly="true" [(ngModel)]="produtos.lastro" pInputText />
                            <label for="float-input">Lastro</label>
                          </span>
                        </div>
                        <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                          <span class="ui-float-label">
                            <input id="camada" class="apenas_leitura" name="camada" type="text" readonly="true" [(ngModel)]="produtos.camada" pInputText />
                            <label for="float-input">Camada</label>
                          </span>
                        </div>
                        <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                          <span class="ui-float-label">
                            <input id="total" class="apenas_leitura" name="total" type="text" readonly="true" [(ngModel)]="produtos.total" pInputText />
                            <label for="float-input">Total</label>
                          </span>
                        </div>
                      </p-fieldset>
                    </div>
                  </p-tabPanel>
                </p-tabView>
              </p-tabPanel> 
              <!--Estoque--> 
              <p-tabPanel header="EST" leftIcon="pi pi-shopping-cart">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-3 ui-md-3 ui-lg-3 efeito">
                    <span class="ui-float-label">
                      <input id="codfilial" class="apenas_leitura" name="codfilial" type="text" readonly="true" [(ngModel)]="produtos.codfilial" pInputText />
                      <label for="float-input">Filial</label>
                    </span>
                  </div>
                  <div class="ui-g-4 ui-md-4 ui-lg-4 efeito">
                    <span class="ui-float-label">
                      <input id="estger" class="apenas_leitura" name="estger" type="text" readonly="true" [(ngModel)]="produtos.estger" pInputText />
                      <label for="float-input">Est.Ger</label>
                    </span>
                  </div>
                  <div class="ui-g-5 ui-md-5 ui-lg-5 efeito">
                    <span class="ui-float-label">
                      <input id="estreserv" class="apenas_leitura" name="estreserv" type="text" readonly="true" [(ngModel)]="produtos.estreserv" pInputText />
                      <label for="float-input">Est.Reserv</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
                    <span class="ui-float-label">
                      <input id="estbloq" class="apenas_leitura" name="estbloq" type="text" readonly="true" [(ngModel)]="produtos.estbloq" pInputText />
                      <label for="float-input">Est.Bloq</label>
                    </span>
                  </div>
                  <div class="ui-g-6 ui-md-6 ui-lg-6 efeito">
                    <span class="ui-float-label">
                      <input id="estavaria" class="apenas_leitura" name="estavaria" type="text" readonly="true" [(ngModel)]="produtos.estavaria" pInputText />
                      <label for="float-input">Est.Avaria</label>
                    </span>
                  </div>
                </div>
              </p-tabPanel>
              <!--LISTA ENDEREÇO--> 
              <p-tabPanel header="ENDER" leftIcon="pi pi-home">

              </p-tabPanel>           
            </p-tabView>
          </div>
        </div>
        <div class="ui-g-6 ui-md-6 ui-lg-6 subtitle">
          <p-button label="VOLTAR" icon="pi pi-caret-left" iconPos="left" (onClick)="navegar('V')"></p-button>
        </div>   
        <div class="ui-g-6 ui-md-6 ui-lg-6 salvar">
          <p-button label="GRAVAR" icon="pi pi-save" iconPos="left" (onClick)="salvar(dados)"></p-button>     
        </div>
      </block-ui>
    </div>  
  </form>
</p-panel>


  
