<p-panel header="Endereço Inventário" class="title">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <p-fieldset legend="DADOS DO ENDEREÇO" class="subtitle">
        <div class="ui-g">
          <div class="ui-g-4 ui-md-4 ui-lg-4">
            <span class="ui-float-label">
              <input id="deposito" class="apenas_leitura" name="deposito" type="text" readonly="true" pInputText />
              <label for="float-input">Deposito</label>
            </span>
          </div>
          <div class="ui-g-4 ui-md-4 ui-lg-4">
            <span class="ui-float-label">
              <input id="rua" class="apenas_leitura" name="rua" type="text" readonly="true" pInputText />
              <label for="float-input">Rua</label>
            </span>
          </div>
          <div class="ui-g-4 ui-md-6 ui-lg-6">
            <span class="ui-float-label">
              <input id="predio" class="apenas_leitura" name="predio" type="text" readonly="true" pInputText />
              <label for="float-input">Prédio</label>
            </span>
          </div>
          <div class="ui-g-6 ui-md-6 ui-lg-6">
            <span class="ui-float-label">
              <input id="nivel" class="apenas_leitura" name="nivel" type="text" readonly="true" pInputText />
              <label for="float-input">Nível</label>
            </span>
          </div>
          <div class="ui-g-6 ui-md-6 ui-lg-6">
            <span class="ui-float-label">
              <input id="apto" class="apenas_leitura" name="apto" type="text" readonly="true" pInputText />
              <label for="float-input">Apto</label>
            </span>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <input pInputText id="codigo" pKeyFilter="num" placeholder="Cód.Endereço" [(ngModel)]="limpar" (keyup.enter)=buscaEndereco($event.target.value)/>
    </div>
  </div>
</p-panel>
