<p-panel header="Inventário">
  <form #f="ngForm">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-inputgroup camposBusca">
          <input #produto size="44%" [(ngModel)]="limpar" name="buscar" type="text" pKeyFilter="pnum" (keyup.enter)="buscarProdutoId(produto.value)" placeholder="Cod.Prod / EAN / DUN" pInputText />
          <span class="ui-inputgroup-addon"><i class="fa fa-search" style="line-height: 1.25;"></i></span>
        </div>
      </div>
    </div>  
      
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-inputgroup">
            <input type="text" name="descricao" disabled="true" [(ngModel)]="produtos.descricao" readonly="true" pInputText />
        </div>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-6">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pInputText disabled placeholder="Embalagem" />
        </div>
      </div>
      <div class="ui-g-6 ui-md-6 ui-lg-6">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pInputText disabled placeholder="Qt.Unit.Cx." />
        </div>
      </div>
      <div class="ui-g-5 ui-md-5 ui-lg-5">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pKeyFilter="pnum" pInputText placeholder="Lastro" />
        </div>
      </div>
      <div class="ui-g-1 ui-md-1 ui-lg-1">X</div>
      <div class="ui-g-6 ui-md-6 ui-lg-6">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pKeyFilter="pnum" pInputText placeholder="Camada" />
        </div>
      </div>      
      <div class="ui-g-3 ui-md-3 ui-lg-3">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pKeyFilter="pnum" pInputText name="qtCx" (ngModel)="qtCx" placeholder="Qt. Cx." />
        </div>
      </div>
      <div class="ui-g-1 ui-md-1 ui-lg-1">+</div>      
      <div class="ui-g-3 ui-md-3 ui-lg-3">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pKeyFilter="pnum" pInputText name="qtUnit" (ngModel)="qtUnit = $event.target.value" placeholder="Qt. Unit." />
        </div>
      </div>
      <div class="ui-g-1 ui-md-1 ui-lg-1">=</div>
      <div class="ui-g-4 ui-md-4 ui-lg-4">
        <div class="ui-inputgroup">
            <input id="disabled-input" type="text" size="30" pInputText [value]="total" disabled />
        </div>
      </div>
      <button pButton type="button" label="CONFIRMAR"></button>             
    </div>     
  </form>      
</p-panel>
